<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="signUp()">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="signUpData.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="signUpData.email" name="email" required></ion-input>
    </ion-item>

    <!-- Role Selection -->
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select [(ngModel)]="signUpData.role" name="role" required>
        <ion-select-option value="player">Player</ion-select-option>
        <ion-select-option value="coach">Coach</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpData.password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Sign Up</ion-button>
  </form>
</ion-content>
